@model universitas.Models.College

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>College</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Accredition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Accredition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fees)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fees)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.deletedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.deletedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.deletedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.deletedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.is_deleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.is_deleted)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
