@model IEnumerable<universitas.Models.Major>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Major_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_On)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_by)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modify_on)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modify_by)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted_on)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted_by)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Is_delete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Major_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_On)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_by)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modify_on)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modify_by)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted_on)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted_by)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is_delete)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
