@model Universitas.Models.Student

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gpa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gpa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dob)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dob)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created_by)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created_by)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created_on)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created_on)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modify_by)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modify_by)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modify_on)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modify_on)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deleted_by)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deleted_by)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deleted_on)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deleted_on)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
