@model Universitas.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gpa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gpa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dob)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dob)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created_by)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created_by)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created_on)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created_on)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modify_by)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modify_by)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modify_on)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modify_on)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deleted_by)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deleted_by)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deleted_on)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deleted_on)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
