@model universitas.Models.CollegeMajor

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CollegeMajor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Major_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Major_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.College_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.College_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Intake)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Intake)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created_on)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created_on)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created_by)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created_by)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modify_on)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modify_on)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modify_by)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modify_by)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deleted_on)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deleted_on)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deleted_by)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deleted_by)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Is_deleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Is_deleted)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
